<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sentiment Analysis</title>

    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link rel="stylesheet" type="text/css" href="/static/css/nav_sidebar.css">
    <script src="/static/js/nav_sidebar.js" defer=""></script>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <meta name="robots" content="NONE,NOARCHIVE">

</head>
<body class=" login">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/login/">Login</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <div class="main" id="main">
      <div class="content">
        <!-- Content -->
        <div id="content" class="colM">
            <div id="content-main">
                <!-- CSRF TOKEN !!! -->
                <form action="/user/login/?next=/user/" method="post" id="login-form"><input type="hidden" name="csrfmiddlewaretoken" value="dShDZNu5NMYHA7oTUUL4wFcMXxgUaA8jjUWMT7UYtVQaOBx2gWkKt2mw24Mi36rt">

                    <div class="form-row">
                        <label for="id_username" class="required">Username:</label> <input type="text" name="username" autofocus="" autocapitalize="none" autocomplete="username" maxlength="150" required="" id="id_username">
                    </div>

                    <div class="form-row">
                        <label for="id_password" class="required">Password:</label> <input type="password" name="password" autocomplete="current-password" required="" id="id_password">
                        <input type="hidden" name="next" value="/user/">
                    </div>

                    <div class="submit-row">
                        <input type="submit" value="Log in">

                    </div>
                </form>
                <center><a href="/admin/"><u>administration</u></a></center>

            </div>
            <br class="clear">
        </div>

        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->

</body>
</html>